@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  color: #fafafa;
  background-color: black;
}
.about {
  color: white;
  background-color: purple;
}
.contact {
  color: black;
  background-color: lightgreen;
}
.service {
  color: rgb(0, 0, 0);
  background-color: aquamarine;
}
